
a:link{
	text-decoration: none;
}
li{
	list-style: none;
}
html {
  scroll-behavior: smooth;
}

a{
	color:white;
	font-family: 'Poppins', sans-serif;
}

p{
	font-family: 'Lato', sans-serif;
}

#about{
	height: 750px;
	padding: 50px;
	background-color: #096D49;
	text-align: center;
}

#gallery{
	position: relative;
	background-color: white;
	height: 600px;
	padding: 50px;
	overflow-y: scroll;
}

#contact{
	background-color: black;
	height: 600px;
	padding: 50px;
}

#name{
	padding-top: 300px;
	/*margin-right: auto;*/
/*	display:block;
	margin-right: auto;
	margin-left: auto;
*/
}

#title{
	color:black;
}

#gal{
	color:black;
	margin: 50px;
}

#videos{
	margin: 30px;
	padding: 30px;
	background-color: black;
}

#code{
	margin: 30px;
	padding: 30px;
	background-color: black;
}

h1{
	padding-top: 10px;
	padding-bottom: 40px;
	color: white;
	font-family: 'Poppins', sans-serif;
}

h2{
	color: white;
}

h4{
	text-align: center;
	color:white;
	font-family: 'Poppins', sans-serif;
}

.gradient{
  background-image:
    linear-gradient(
      #0E523A, #7DE3BF
    );
}

.modal-body{
	display: block;
	margin: auto;
}

.card-title{
	font-family: 'Poppins', sans-serif;
}

.card-text{
	font-family: 'Lato', sans-serif;
}

.card-body{
	background-color: #7DE3BF;
}

.nav-link{
	color:black;
}
.coding{
	width= 1112px 
	height=708px
}
