.btn{
	color: white;
	font-size: 20px;
}

.topt{
	margin-top:20px;
	margin-bottom: 20px;
	margin-left: 15px;
}

#hot{
	text-align: center;
}


#title{
	background-image: url("https://s3-media3.fl.yelpcdn.com/bphoto/AFfSxxAc-ZtMZ2br2BjywQ/o.jpg");
	background-size: cover;
	height: 650px;
/*	background-color: blue;*/
/*	text-align: center;*/
	display: flex;
	justify-content: center;

	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#heading{
	color: white;
	margin-top: 250px;
	font-size: 80px
}

#map{
	display: block;
	margin: auto;
}

#body2{
	background-color: #FCECC9;
}

.modalimg{
	height: 350px;
	display: block;
	margin: auto;
}

.modal-body{
	text-align: center;
}

nav{
	background-color: #F15946;
	position: fixed;
}

a{
	font-family: 'Poppins', sans-serif;
}

h1{
	font-family: 'Poppins', sans-serif;
}

h3{
	font-family: 'Poppins', sans-serif;
}


h6{
	font-family: 'Poppins', sans-serif;
}

p{
	font-family: 'Roboto', sans-serif;
}

#team{
	display: block;
	margin: auto;
	height: 500px;
	padding: 40px;
}

#text{
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #FCECC9;
}

#bagelz{
	display: flex;
	font-family: 'Roboto', sans-serif;
	justify-content: center;
	color: white;

}

#hours{
	text-align: center;
	margin: auto;
	margin-bottom: 30px
}

#yelp{
	height: 50px;
}

#fb{
	height: 65px;
}

.card-body{
	text-align: center;
	background-color: #7EB2DD;
}

.card-header{
	font-family: 'Poppins', sans-serif;
	background-color: #445E93;
}

